@import url(./sidebar.css);

body {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1A1A1A;
    color: #E3E3E3;
    margin: 0;
    font-size: 16px;
}

a {
    color: #8DB8B8;
}

a:hover {
    color: #3D8A8A;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
}

.content {
    padding: 2rem;
}

.editor-colors {
    font-family: 'Source Code Pro', monospace;
}
